/* Custom CSS for APGer documentation in LFS Book style */

body {
    background: #fff;
    color: #333;
    font-family: "DejaVu Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 70em;
}

div#top {
    width: 100%;
    background: #f0f0f0;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

div#titlearea {
    background: #426477;
    color: white;
    padding: 0.5em;
    border-bottom: 1px solid #aaa;
}

div#titlearea table {
    color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DejaVu Serif", Georgia, serif;
    color: #426477;
}

h1 {
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

div.header {
    background: #f0f0f0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #aaa;
    padding: 0.5em;
}

div.contents {
    padding: 1em;
}

div.toc {
    border: 1px solid #aaa;
    background: #f9f9f9;
    padding: 1em;
    float: right;
    margin: 0 0 1em 1em;
    max-width: 30%;
}

div.toc h3 {
    font-size: 1.1em;
    margin-top: 0;
    text-align: center;
}

div.navtab {
    background: #f0f0f0;
    border: 1px solid #aaa;
    padding: 0.25em;
}

div.navtab table {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #426477;
    text-decoration: none;
}

a:hover, a:active {
    color: #6a93be;
    text-decoration: underline;
}

div.fragment {
    border: 1px solid #aaa;
    background: #f9f9f9;
    padding: 0.5em;
    margin: 1em 0;
    overflow-x: auto;
}

pre.fragment {
    font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 0.9em;
    line-height: 1.3;
    margin: 0;
    padding: 0.5em;
    background: #f9f9f9;
    overflow-x: auto;
}

div.line {
    font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 0.9em;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-wrap: unrestricted;
    white-space: -moz-pre-wrap; /* Moz */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

table.doxtable {
    border-collapse: collapse;
    margin: 1em 0;
}

table.doxtable th {
    background-color: #426477;
    color: white;
    padding: 0.5em;
    text-align: left;
}

table.doxtable td {
    border: 1px solid #aaa;
    padding: 0.5em;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid #aaa;
}

div#nav-tree {
    background: #f0f0f0;
}

#nav-tree .selected {
    background-image: none;
    background-color: #426477;
    color: white;
}

#nav-tree a {
    color: #333;
}

.memdoc {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 0.5em;
    margin-bottom: 1em;
}

div.summary {
    display: none;
}

div.qindex, div.navtab {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
}

a.code, a.code:visited, a.line, a.line:visited {
    color: #426477;
}